.card-font {
  font-size: 20px;
}


.register-card {
  background-color: #E4C939;
  color: #06539B;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  cursor: pointer;
  padding: 4px 20px; 
  margin-bottom: 22px; 
}
.card-rad {
  border-radius: 15px;
}

.price {
  display: flex;
  justify-content: space-around;
  margin-top: -17px;
  font-weight: bold;
}
.duration {

  display: flex;
   justify-content: space-around;
    margin-top: -10px;
    font-weight: bold
}


.reg{
  display: flex;
  justify-content: center;
  margin-top: -8px;
}

h1 a {
  text-decoration: none;
}
.card {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  transform: translateY(100px); /* Start below the viewport */
  opacity: 0; /* Start invisible */
}

.card.animate {
  transform: translateY(0); /* Move to its original position */
  opacity: 1; /* Make it visible */
}

.card:hover {
  transform: translateY(10px); /* Slight downward movement on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.title{
  font-weight: bold;
  font-size: 16px;
}
.desc {
  font-size: 13px;
   color: black;
   padding-top: 10px;
/* 
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; */
}